[2014-11-24 11:21] diplomod opened #1 "Test issue for WellBet App"

[2014-11-24 11:45] mladjan commented on #1
I'm here :)

[2014-11-24 13:09] #1 closed, assigned to nobody

[2014-11-24 13:14] diplomod opened #2 "Text"
Improve the readability by
- bigger font
- darker font
  ![image](https://cloud.githubusercontent.com/assets/7487883/5165393/31528b44-73e4-11e4-90aa-5b583dc7c5fa.png)

[2014-11-24 13:15] diplomod opened #3 "Open vs. closed WellBets"
The one WellBet that is in the list is enlisted in "Open WellBets", yet has the lable "closed"
![image 1](https://cloud.githubusercontent.com/assets/7487883/5165407/5312ba9c-73e4-11e4-8b8f-5e07c71436f9.png)

[2014-11-24 13:16] diplomod opened #4 "Star"
I don't get what the star is good for.
And it's not aligned with the lable "closed"

![image 2](https://cloud.githubusercontent.com/assets/7487883/5165413/6b8858fc-73e4-11e4-9fb4-33fc01f05df5.png)

[2014-11-24 13:17] diplomod opened #5 "Pictures/Graphics enlarged"
When I click on a picture, it is opened in a seperat screen in original size. That's fine.
But I cannot go back to the WellBet. I need to get back to home.

![image 4](https://cloud.githubusercontent.com/assets/7487883/5165429/9b20e020-73e4-11e4-8e8c-db7820dc37de.png)

[2014-11-24 13:18] diplomod opened #6 "Comments - Connection error"
I can't comment:

![image 5](https://cloud.githubusercontent.com/assets/7487883/5165438/b36ddc5a-73e4-11e4-9e26-af9229a830e8.png)

[2014-11-24 13:18] diplomod opened #7 "Placing a bet - Connection error"
I can't place a bet:

![image 7](https://cloud.githubusercontent.com/assets/7487883/5165442/cb28177a-73e4-11e4-9a9f-dd9326a56816.png)

[2014-11-24 13:19] diplomod opened #8 "Hyperlinks in text don't work"
When I click the link in this text, nothing happens:

![image8](https://cloud.githubusercontent.com/assets/7487883/5165446/df033f86-73e4-11e4-9168-1cfb0994d0b7.png)

Anyway, I presume this is copy-paste from the website. We need to change this particular text anyways. But in genereal, weblinks should open my default browser.

[2014-11-24 13:25] diplomod opened #9 "Title too long"
We need to make sure that we can read the titles.
The one title of the example ("Place your bet on the Ivory Prospect", 36 characters) is longer than usual.

![image 2](https://cloud.githubusercontent.com/assets/7487883/5165489/7b343c2a-73e5-11e4-87b5-09a9ecf1fa0c.png)

Normally, the standard is like this: "30/11-10 Krafla North" (max. 25 characters)

What's the maximum length?

[2014-11-24 13:28] diplomod opened #10 "Login"
I understood from my latest discussion with Michael that users should login first before seeing the bets.

I don't mind seeing the bests first before needing to login, I just want to make sure we're on the same page.

Can you delete my useraccount again (hans@geonova.no) so I can test the sign-up process?

[2014-11-24 13:32] diplomod opened #11 "Change wording in final submit button"
We use "Place your bet" on several steps. Therefore, I would like to use "Submit" instead of "Place your bet" on the green button on the bottom of the selection page. Users will then more easily understand that this was the final step.
![image9](https://cloud.githubusercontent.com/assets/7487883/5165578/a8aed2cc-73e6-11e4-8c76-d4202776b9e0.png)

[2014-11-25 18:54] diplomod opened #12 "Admin Area/ Editing"
Is there a way how I can edit texts?
Where do the new WellBets come from? How does that process look like?
(is it automatically filled in to the App when I add a new one in Wordpress or do I need to do some extra editing?)

Also, where can I edit the banner in the app?

[2014-11-25 19:18] mladjan commented on #12
Hi,

all wellbets are pulled directly from your wordpress database. Right now we have test development server which isn't connected to your live database.

[2014-11-25 19:25] mladjan commented on #9
We can reduce font size in this situations where it can't fit

[2014-11-25 19:30] mladjan commented on #10
We managed it that users can see bets before login. They need login before comment or betting.
Your account will be deleted in next couple of minutes.

[2014-11-25 19:32] diplomod commented on #12
Excellent - as soon as it's working we can connect it to the test environment on http://dokuhl.de/geonova/well-bet-page/the-ivory-prospect/ and I can add more wellbets there. or is it already connected to that system?

[2014-11-25 19:33] diplomod commented on #9
that would be great

[2014-11-26 10:56] mladjan commented on #2
Ok, done. We are using right now 16px instead of 14px, and #5c5c5c for text.

[2014-11-26 10:59] mladjan commented on #3
I was looking in the wrong property. Fixed, will be available in build 3.
Btw, I will just comment them, when you confirm that bug is fixed, close this issue :)

[2014-11-26 11:00] mladjan commented on #4
Ok, I think I fixed alignment (check again please), but not sure what do you think about star? This is the same star you approved in designs :)

[2014-11-26 11:11] mladjan commented on #5
Because this is generic screen (we are loading generic HTML from wordpress here), it's risky to open all urls inside the app. So, the cleaner solution is to open all URLs in Safari. Please check how it works in next build and let me know if this is fine for you.

[2014-11-26 11:15] mladjan commented on #8
These links are still "open", because I think they need to link to some screens in the app, for example "See all ongoing bets here" link should points to all bets screen. What about other urls here on this page? To open them in safari?

[2014-11-26 11:18] mladjan commented on #9
Ok, done.

[2014-11-26 11:19] diplomod commented on #8
It depends on where I edit the text. Can I edit text somewhere and link to screens within the App or is it only you who can do it.

Regardless, normal links to external sites should always open in the default browser (on Iphone Safari, on others I don't know)

[2014-11-26 11:20] diplomod commented on #2
Do I need an update of the app? Still looks the same for me.

[2014-11-26 11:20] mladjan commented on #11
Done

[2014-11-26 11:21] diplomod commented on #4
I have not approved it yet. I sent an email about this to Michael with questions yet he must have overseen it. I clarify.

[2014-11-26 11:27] mladjan commented on #8
Ok. For this screen "More info" and for "terms and conditions" we have static pages preloaded into app, and they can't be edited on the server. In this case, I linked first link to the main page, and all other will open in safari (but I don't have the url for second one on this page).

All other pages like details for betting, are edited on the server (wordpress admin page) and they will open all

[2014-11-26 11:37] diplomod opened #13 "Sign-up process: Terms & Conditions"
Are the Terms & Conditions sourced from geonova.no (http://www.geonova.no/about/terms-conditions/) or "hard coded"?
![image12](https://cloud.githubusercontent.com/assets/7487883/5200716/092795f2-7569-11e4-8b28-9b2e47156dde.png)

[2014-11-26 11:39] diplomod opened #14 "Sign-up process: Text in "About me" field does not disappear when entered"
In the other fields of registration, the text that is in the field disappears when I click in it.
Only in "About me", it remains and becomes part of my entered text:

![image11](https://cloud.githubusercontent.com/assets/7487883/5200732/3ef3c71e-7569-11e4-91a0-29010cc8b7c0.png)

[2014-11-26 11:40] diplomod opened #15 "Sign-up process: Sign-up does not work"
I don't receive a registration email.
Is it active already?

[2014-11-26 11:41] diplomod opened #16 "Sign-up process: "Forgot Password?" link does not work"
When I click on it, nothing happens:

![image10](https://cloud.githubusercontent.com/assets/7487883/5200747/774f6e74-7569-11e4-9f31-b8f80e410b99.png)

[2014-11-26 11:41] mladjan commented on #4
Ah, ok. Will check this with Michael and Igor (designer) before we make any changes to that screen.

[2014-11-26 11:42] diplomod opened #17 "Sign-up Process: I can enter with any password I like"
Is it still in "dummy" mode and not connected to the database?

[2014-11-26 11:43] mladjan commented on #14
It worked for me. Can you check your spam folder?

[2014-11-26 11:44] mladjan commented on #13
It's hardcoded. The reason is because we needed to rewrite this HTML to support mobile devices. It has additional CSS for better display on iPhone.

[2014-11-26 11:47] diplomod commented on #14
Nope. I tried to reinstall the app in order to be able to regisiter again, but currently I can not retry:
![image13](https://cloud.githubusercontent.com/assets/7487883/5200816/4001e6a8-756a-11e4-99cd-554d073079e0.png)

I suggest you check this data base issue before I continue testing as it makes it pretty impossible at the moment.

[2014-11-26 11:48] diplomod commented on #13
OK, fine. How do I update the text in the future? DO I need to go through you guys?

[2014-11-26 11:50] mladjan commented on #14
Sorry for that. we are working right now on the server, and this is why you see these issues. Let you know when you can test it again.

[2014-11-26 11:52] mladjan commented on #14
I just realised that I commented on wrong issue. Sorry for that. I fixed the issue with About Me placeholder and it will be available in next build.

[2014-11-26 11:54] mladjan commented on #16
I realised that we don't have design for this. I suggest this to be the screen with email field and one confirm button. Is this ok for you?

[2014-11-26 11:57] mladjan commented on #13
These two screens can be put on our webserver, and updated instantly, but we need to edit them becuse in some cases we have these "custom" local URLs.

[2014-11-26 13:08] diplomod commented on #16
please check here: http://www.geonova.no/
it must fit together

[2014-11-26 17:28] mladjan commented on #17
We had a problem with database on our test server. Please, test it again.

[2014-11-26 17:29] mladjan commented on #15
Please, check it again in next build.

[2014-11-26 17:30] mladjan commented on #7
This now should work, test it again in new build I sent.

[2014-11-26 17:30] mladjan commented on #6
This now should work, test it again in new build.

[2014-11-26 18:20] diplomod commented on #6
Does new build mean I should delete the app and re-install?

[2014-11-26 18:49] mladjan commented on #6
Yes

[2014-11-27 18:38] diplomod opened #18 ""See Details" button in closed and open WellBets"
In order to differentiate more closed from open bets:

Closed bets should always have "See Results" button instead of "See Details" (after a bet is closed there will be always a page with the analysis behind this button).

[2014-11-27 18:55] diplomod commented on #2
It's still far too small and too light. I am not sure if it is any different in the new version. I can hardly read it.

![2014-11-27 19 39 42](https://cloud.githubusercontent.com/assets/7487883/5220961/32ce407a-766f-11e4-9a6e-ee8f27b53ac7.png)

[2014-11-27 18:57] diplomod commented on #16
Now I get to a blank page with no possibility to go back. So I had to delete and re-install:

![2014-11-27 19 41 44](https://cloud.githubusercontent.com/assets/7487883/5220984/9749a814-766f-11e4-85bb-b9b52a4a09ea.png)

[2014-11-27 18:58] diplomod commented on #15
No email, no SPAM.

[2014-11-27 19:01] diplomod opened #19 "Sign-up Process: Infotexts in fields should disappear when activated"
I am used to from other apps that when you click in a field, the infotext that was in that field disappears.
Here it doesn't, only when I start typing. SHould be as in all other apps.
See also #14
![2014-11-27 19 44 52](https://cloud.githubusercontent.com/assets/7487883/5221007/21946c34-7670-11e4-9a62-9421694e25c6.png)

[2014-11-27 19:03] diplomod commented on #14
Now it dissapears, but behaves differently than the other fields:
When I leave the field again, it remains empty. While in other fields, the infotext re-appears if I have not entered anything. All fields must behave exactly the same (it's not about that tiny detail, but about how clean is the code)

![2014-11-27 19 45 03](https://cloud.githubusercontent.com/assets/7487883/5221022/6a83ac98-7670-11e

[2014-11-27 19:04] diplomod commented on #13
OK

[2014-11-27 19:04] #13 closed, assigned to mladjan

[2014-11-27 19:05] diplomod commented on #11
OK

[2014-11-27 19:05] #11 closed, assigned to mladjan

[2014-11-27 19:06] diplomod commented on #17
I just typed in just whatever, not even an email address, no @ sign or . - I can perfectly log in.
So the login does not work at all.

[2014-11-27 19:06] diplomod commented on #10
OK

[2014-11-27 19:06] #10 closed, assigned to mladjan

[2014-11-27 19:07] diplomod commented on #9
Resolved, nice

[2014-11-27 19:07] #9 closed, assigned to mladjan

[2014-11-27 19:08] diplomod commented on #8
Safari does not open for external links.

[2014-11-27 19:12] diplomod commented on #6
Nope, not at all:
![image](https://cloud.githubusercontent.com/assets/7487883/5221064/c3856c5e-7671-11e4-97a3-efe9cc6019e7.png)

[2014-11-27 19:14] diplomod commented on #5
URLs in Safari is ok, but graphics must be loaded in the app in a higher resolution than displayed in the app. So there is no need to open pics in Safari.
Plus pictures are no URLs.

We should avoid leaving the app as much as possible. Whenever Safari opens, I need to go back to home and open the app again.

[2014-11-27 19:26] diplomod commented on #4
2 things:

1) The star can be used for one case only: A WellBet (either closed or open) that I as a user have not opened yet has a filled star. That will catch my attention. As soon as the user has opened the bet once, the star is blank (as it is now)

2) Take out "active" and "completed": They are the same as closed and open WellBets and therefore useless info
- When I am in the area "Open WellBe

[2014-11-27 19:28] diplomod opened #20 "I can go back after placing a bet and change it"
No go - after a bet has been placed, the user cannot go back and change it. The "back" button/arrow can lead to the overview of the WellBet.

[2014-11-27 19:29] diplomod opened #21 "Results are displayed in the wrong order"
The results are ordered the wrong way: It starts with results of the last question and finished with the results of the first question.

It should be the same order as I have answered them.

[2014-11-27 19:30] diplomod opened #22 "Change button in comment to "comment" instead of "send""
That's much more intuitive as I do not send an email but post a comment.

![image](https://cloud.githubusercontent.com/assets/7487883/5221187/3eed2060-7674-11e4-8f98-4bf3bdfa0ac6.png)

[2014-11-27 19:31] diplomod opened #23 "Typo Passwords"
"Passwords do not match." (plural)

![2014-11-27 19 45 35](https://cloud.githubusercontent.com/assets/7487883/5221193/566c28f8-7674-11e4-8197-d425b0c020a0.png)

[2014-11-27 19:33] diplomod opened #24 "Typo T&Cs"
"You must accept the Terms & Conditions."

![2014-11-27 19 45 14](https://cloud.githubusercontent.com/assets/7487883/5221197/764962f8-7674-11e4-94da-131fe6e9678f.png)

[2014-11-27 19:35] diplomod opened #25 "App slow"
The app is sometimes really slow and takes too much time when loading.

![2014-11-27 19 39 26](https://cloud.githubusercontent.com/assets/7487883/5221219/f069fc50-7674-11e4-9dba-83d9ca606048.png)

[2014-11-27 19:38] diplomod opened #26 "Results page optimization"
2 things:

1) The results are displayed too small - this should be bigger (at least on iPhone 4 it's hard to read)
. Eventually it helps when the background is white instead of grey.

2) the effect that the headlines stick and the content is kind of moving below the headlines is fancy, but in this place useless. Please take it out.

![2014-11-27 19 48 10](https://cloud.githubusercontent.com/assets

[2014-11-27 19:40] diplomod opened #27 "Login & Sign-up process: Keypad does not diappear"
At least on iPhone 4 I have real trouble signing in or up because the keypad covers the buttons.
Is this different on a bigger screen? Is there a solution for iPhone 4 as it is still used by many people.

![2014-11-27 19 45 03](https://cloud.githubusercontent.com/assets/7487883/5221241/9c5c5620-7675-11e4-832e-ee845e5b6c3e.png)

[2014-12-01 12:43] mladjan commented on #27
There are two ways to close keyboard:
1. Tap on Done on keyboard (http://cl.ly/image/071W1G3k0d2Y)
2. Tap on white background

This is design patter used for iOS

[2014-12-01 12:43] #27 closed, assigned to mladjan

[2014-12-01 12:44] mladjan commented on #25
This is because it's on our slow dev server, this will be much faster when we switch on production server.

[2014-12-01 12:44] #25 closed, assigned to mladjan

[2014-12-01 12:46] mladjan commented on #24
Fixed. All these fixes will be visible in next build

[2014-12-01 12:46] #24 closed, assigned to mladjan

[2014-12-01 12:46] mladjan commented on #23
Fixed

[2014-12-01 12:46] #23 closed, assigned to mladjan

[2014-12-01 12:48] mladjan commented on #22
Changed to "Comment"

[2014-12-01 12:48] #22 closed, assigned to mladjan

[2014-12-01 13:24] mladjan commented on #15
Hi.
Are you sure that you entered email in the right format without any typos?
I just made account and got email: http://cl.ly/image/340l2W0y201N
We are using "buddypress" functions for registration. What email you are using to register, so we can test with this example?

[2014-12-01 13:43] mladjan commented on #21
fixed

[2014-12-01 13:43] #21 closed, assigned to mladjan

[2014-12-01 13:47] mladjan commented on #19
You are not right, this is native behaviour of UITextField with placeholder.
I can change it, but when someone is in focus of the field (tapped next on keyboard), it needs to see what to enter before start typing. Let me know the final decision.

[2014-12-01 13:52] mladjan commented on #18
When you say "See Details", you mean "More info"?
http://cl.ly/image/0q2l023h151X

[2014-12-01 13:52] mladjan commented on #17
Bug fixed on server, sorry for inconvenience.

[2014-12-01 13:52] #17 closed, assigned to mladjan

[2014-12-01 13:54] mladjan commented on #12
No, everything is on our dev server. Will be migrated when we finish all bug fixes.

[2014-12-01 13:54] #12 closed, assigned to mladjan

[2014-12-01 14:00] #3 closed, assigned to mladjan

[2014-12-01 14:52] mladjan commented on #16
Fixed in next build

[2014-12-01 14:52] #16 closed, assigned to mladjan

[2014-12-01 14:58] mladjan commented on #14
This is different because about me is UITextView control, and other fields are UITextFields. Difference is that TextView takes more then one line of text, and has different behaviour. I will try to make ti working like other fields.

[2014-12-01 18:47] diplomod commented on #27
OK - I used to have an Android, there you have an extra button for taking away the keyboard. Anyway, fine, thanks for the hint.

[2014-12-01 18:47] diplomod commented on #25
of course, good. Let's kep an eye on that though.

[2014-12-01 18:54] diplomod commented on #19
OK - I suggest you display the info content until the user starts typing. Please make sure it's behaving identical in all fields.

[2014-12-01 19:04] diplomod commented on #18
Actually no. "See Results" should be shown in this screen, but instead of the dark grey "See Details" button:
![02_02_geonova_wellbet_list_my](https://cloud.githubusercontent.com/assets/7487883/5251387/4105f934-7995-11e4-8d5b-7af1a1b00661.png)

See also #4 : I suggested to take out the "Active" & "Completed" and differentiate only by the button. For bets in "My WellBets" that re still running, the

[2014-12-01 19:06] diplomod commented on #14
All right - I don't get the difference; however, the user does not differentiate either I assume, so it would be good if the fields just behave identical.

[2014-12-01 19:07] diplomod commented on #16
Well; I just installed v1.0(3) and its the same...

[2014-12-01 19:10] diplomod commented on #15
I cannot be sure; I will test again. But before that: Is it the latest build in crashlytics app now (v1.0 3)?

[2014-12-02 11:28] mladjan commented on #18
Ok, got it :)

[2014-12-02 11:29] mladjan commented on #15
No, new build will be sent today (1.0 build 4)

[2014-12-02 12:22] mladjan commented on #26
1) This can be done. Will be available in next build
2) This is native behaviour of UITableView and can't be turned off in new versions of iOS (there was some hack for iOS6). It's hard to make this screen generic without UITableView, and this is something we need to live with.

[2014-12-02 12:59] mladjan commented on #20
fixed in build 4

[2014-12-02 14:08] mladjan commented on #19
Done, will be available in next build (4)

[2014-12-02 14:08] #19 closed, assigned to mladjan

[2014-12-02 14:22] #14 closed, assigned to mladjan

[2014-12-02 14:23] mladjan commented on #7
I think this was login issue, now this should work. Please reopen this issue if you get this issue again.

[2014-12-02 14:23] #7 closed, assigned to mladjan

[2014-12-02 14:23] mladjan commented on #6
The same like placing a bet bug.

[2014-12-02 14:23] #6 closed, assigned to mladjan

[2014-12-02 14:33] mladjan commented on #2
On this screenshot you can see difference in colour and font size. But I changed font right now from light to regular, and colour is darker. Test this in next build 4.

[2014-12-02 14:33] #2 closed, assigned to mladjan

[2014-12-02 15:05] mladjan commented on #8
Ok, More info now has two links, one for all open bets, and one for all closed bets.
Terms and conditions doesn't have any url.

Every external URL will now open in Safari. Images are separate issue (#5).

[2014-12-02 15:16] mladjan commented on #5
Ok, all images right now are opening in app (like in tweetbot app, with some fancy physics, zoom option,...). I hope you will like it :)

[2014-12-02 15:16] #5 closed, assigned to mladjan

[2014-12-03 15:43] #15 closed, assigned to mladjan

[2014-12-03 22:09] mladjan commented on #18
I was not able to get results without some API modifications. Will consult API developer today.

[2014-12-04 12:53] mladjan commented on #18
Ok, done this right now.

[2014-12-04 12:53] #18 closed, assigned to mladjan

[2014-12-08 06:19] diplomod commented on #27
On iPhone 4 it still is quite inconvenient, but let's leave it.

[2014-12-08 06:37] diplomod commented on #8
The 2nd link ("Learn about the outcome of all completed bets here.") does not work.
![2014-12-08 07 11 35](https://cloud.githubusercontent.com/assets/7487883/5335580/47bf1248-7ead-11e4-960c-779805d7e189.png)

[2014-12-08 06:40] diplomod opened #28 "Home: Green lines design element or function?"
Just a question: I thought the green lines on home indicate the loading process. Or are they ment only as design element?
(below "powed by..." and above "More information"-button
![2014-12-08 07 12 21](https://cloud.githubusercontent.com/assets/7487883/5335593/7472bac4-7ead-11e4-9ae9-05fdfcd21d56.png)

[2014-12-08 06:43] diplomod opened #29 "Error-message "You are not logged in, or...""
2 issues:
1) It's great to inform the user that they're not logged in. But the case "or there is a problem..." is irritating. Is there a way for the system to know for sure that the user is not logged in, so we don't need to display the second part of the error message?
![2014-12-08 07 12 43](https://cloud.githubusercontent.com/assets/7487883/5335608/c2750bf0-7ead-11e4-856e-67ad5face9c1.png)
2) Th

[2014-12-08 06:46] diplomod opened #30 "Black screen after going back from "Closed Wellbets""
I went to "Closed WellBets" and then back and got a black screen. After that, I tried to go to "Open WellBets" and "My WellBets", and I could switch the menu items including the error message, but then app crashed:
![2014-12-08 07 14 40](https://cloud.githubusercontent.com/assets/7487883/5335624/440fc4a2-7eae-11e4-9f28-af02ffd8c6a9.png)
![2014-12-08 07 14 43](https://cloud.githubusercontent.com/as

[2014-12-08 06:48] diplomod opened #31 ""WellBet"/"WellBets" instead of "Wellbet"/"Wellbets""
WellBet schould always be written with a capital "B". I have overseen this in the design round, I hope you can change it easily.

[2014-12-08 06:49] diplomod opened #32 "Password recovery German"
The password recovery is in German. I just wonder if that is based on the settings in the test environment and will be in English on the live server?
![2014-12-08 07 19 53](https://cloud.githubusercontent.com/assets/7487883/5335646/b9cbddca-7eae-11e4-98e9-7113abf1f730.png)

[2014-12-08 06:51] diplomod opened #33 "Password Recovery only works on 2nd attempt"
In the first attempt, the password recovery tells me that the key has expired (Text to red line):
![2014-12-08 07 20 34](https://cloud.githubusercontent.com/assets/7487883/5335654/d8e6f06e-7eae-11e4-865c-390f67c69b69.png)
On the 2nd attempt it worked then.
I don't know if this is determined by the test environment settings, but anyway it should work on the first attempt.

[2014-12-08 06:52] diplomod opened #34 "Password Recovery leads to website, not App"
The password recovery leads me after the completed process and login to the website - which is irritating for app users.
Can user be re-directed to the app if they have come from there?

Same goes for new registrations.

![2014-12-08 07 24 02](https://cloud.githubusercontent.com/assets/7487883/5335673/25e5d13c-7eaf-11e4-9288-d407119f4f0e.png)

[2014-12-08 06:54] diplomod opened #35 "Comments: Remove headline "New Comment""
The headline "New Comment" on the commenting screen is irritating as it is the same style as the buttons. But since there is "Comment" as another headline in the screen yet again and we have "Comment" as a command now, you can remove the headline "New Comment":

![2014-12-08 07 25 36](https://cloud.githubusercontent.com/assets/7487883/5335685/6cc47a04-7eaf-11e4-8e09-c400a1f8c4b2.png)

[2014-12-08 06:58] diplomod opened #36 "Comments should be shown in "More information" screen"
The comments that have been submitted to a bet should be shown on the "More information" screen somehow, not only hidden behind the "Comment" button at the bottom.

![image 4](https://cloud.githubusercontent.com/assets/7487883/5335709/e7f155e4-7eaf-11e4-881c-af7957d8b2b2.png)

Maybe the "Comment" button can have a little coloured notification button on it (like the notifications on apps on my phon

[2014-12-08 07:04] diplomod opened #37 "Submit does not work any more"
I can't submit any bets - the button freezes with white at the place of the font:
![2014-12-08 07 28 00](https://cloud.githubusercontent.com/assets/7487883/5335754/e0092446-7eb0-11e4-9126-fe1cc9b4c665.png)
![2014-12-08 07 28 40](https://cloud.githubusercontent.com/assets/7487883/5335755/e00a41e6-7eb0-11e4-8607-769c3b269367.png)

[2014-12-08 07:08] diplomod opened #38 "Results page: Not only results in numbers, but also summary"
When a WellBet is closed, we add a short summary with the results. See here e.g.: http://www.geonova.no/well-bet-page/72202-1-isfjell/
In the web system, we show the summary and the detailed voting results only on a seperate page (link) together with the contents of "More information".
Comments are still displayed with the summary.

Can we display that in the app system?

![2014-12-08 07 29 00](ht

[2014-12-08 07:08] diplomod commented on #20
Can't test right now in V5 - see #37

[2014-12-08 07:11] diplomod commented on #4
The star works fine now and I think the user gets the function.Is it possible to align it more to the left, closer to the date? It looks a little lost now in the middle of the line ;)

[2014-12-08 07:13] diplomod opened #39 "App crash"
The app continuously crashed - see also #30
E.g. I go in a closed bet, then I go back, I go to open bets, try to open one - and there I land on the home screen.

[2014-12-08 16:01] mladjan commented on #37
Ah, forgot to connect new button. Sorry for this. Fixed, will be available in new version (build 6)

[2014-12-09 13:19] mladjan commented on #35
fixed in build 6

[2014-12-09 13:19] #35 closed, assigned to mladjan

[2014-12-09 13:21] mladjan commented on #34
No, there is a problem that this part of the system is controlled by wordpress and wordpress plugin you used. We can just send him on web to finish, and return itself back to app.

[2014-12-09 13:21] #34 closed, assigned to mladjan

[2014-12-09 13:35] mladjan commented on #31
Changed this on home page. Let me know if I missed somewhere.

[2014-12-09 13:42] mladjan commented on #28
They are design element, we don't need loading progress bars :)

[2014-12-09 13:42] #28 closed, assigned to mladjan

[2014-12-09 13:43] mladjan commented on #26
@diplomod Can I get feedback about point 2?

[2014-12-09 13:44] mladjan commented on #20
Fixed

[2014-12-09 13:44] #20 closed, assigned to mladjan

[2014-12-09 13:53] mladjan commented on #4
Any good? http://cl.ly/image/1s0N3P2k1o3R :)

[2014-12-09 13:53] #4 closed, assigned to mladjan

[2014-12-09 13:57] diplomod commented on #4
Thanks - I suggest 3-4 px down still and closer to the "4" of "2014"

[2014-12-09 13:58] diplomod commented on #26
Well, if we can't change it then we need to live with it as you say. Could be worse :)

[2014-12-09 13:58] #26 closed, assigned to mladjan

[2014-12-09 14:22] mladjan commented on #8
Did you tried last version of the app? This link works on my phone.

[2014-12-09 14:39] #29 closed, assigned to mladjan

[2014-12-09 14:46] mladjan commented on #36
First request can't be done because this is we are parsing html from wordpress to show in more info.
About red badges, they are reserved in iOS only for missed push notifications, and can't be used for anything except this.

[2014-12-09 15:04] diplomod commented on #36
The red badges are just an example, any kind of hint is ok. I have talked to Michael about this, he said you guys would discuss this.

[2014-12-09 16:01] mladjan commented on #39
@diplomod can you please try to reproduce this, I can't reproduce this crash, and I got crash report which is so generic and can't reproduce it on my phone :|

[2014-12-09 16:02] mladjan commented on #30
@diplomod what happened before that? Like for #39 I can't reproduce this on my iPhone 6 with iOS8.
Edit: I reproduced it on iOS7, sorry. Will fix it.

[2014-12-09 16:08] mladenbl commented on #32
It's using default wordpress language for that message(depends on which one you choose when you installed wordpress), but we can manually create English message if you want.

[2014-12-09 16:40] diplomod commented on #32
Then it should be fine on the live environment, let's leave it and get back to this only if we have to.

[2014-12-09 16:40] #32 closed, assigned to mladjan

[2014-12-09 16:57] #30 closed, assigned to mladjan

[2014-12-10 10:22] diplomod commented on #8
I just installed it again, but the link does not work.

[2014-12-10 10:24] diplomod commented on #37
not fixed yet, so not closed (/for the protocoll: Issues can only be closed when I have tested them and consider them closed. Otherwise we lose overview)

[2014-12-10 10:26] diplomod commented on #39
Well, I am switching between Open WellBets, My Wellbets, Closed WellBets etc. and then it happens. Can't find a logic. let's see how it behaves in the live environment, Meanhwile open.

[2014-12-10 10:27] diplomod commented on #31
In my latest V5 still "Wellbet" in the menu (Open Wellbets, My Welbets, Closed Wellbets)

[2014-12-10 13:21] mladjan commented on #31
This will be visible in next build :) (build 6)

[2014-12-10 13:21] #31 closed, assigned to mladjan

[2014-12-10 13:22] mladjan commented on #39
Found it and fixed. Will be available in next build (6)

[2014-12-10 13:22] #39 closed, assigned to mladjan

[2014-12-10 13:22] mladjan commented on #37
The same, next build (6)

[2014-12-10 13:22] #37 closed, assigned to mladjan

[2014-12-10 13:22] mladjan commented on #8
The same thing, next build (6). You will get email when I send new build.

[2014-12-10 13:34] mladjan commented on #33
Fixed, will be available in next build (6)

[2014-12-10 13:34] #33 closed, assigned to mladjan

[2014-12-10 14:26] diplomod commented on #31
Looks good.

[2014-12-10 14:28] diplomod commented on #8
Nope, still does not work, V6 neither.
The link reacts now with a quick highlight of the text, but no page opens-

[2014-12-10 14:31] diplomod commented on #37
Works now

[2014-12-10 14:32] diplomod commented on #39
Yes, seems to work fine now.

[2014-12-10 14:37] diplomod opened #40 "Strange error message"
Got it when clicking on "Closed WellBets" and then "Test #3". First it loaded but nothing happened. When I clicked again, this error message comes. Twice, by the way.
![2014-12-10 15 29 41](https://cloud.githubusercontent.com/assets/7487883/5377429/3f3dabc6-8082-11e4-898e-5b8429be4372.png)

[2014-12-10 14:39] diplomod opened #41 "Error Message always when clicking on "My WellBets""
2 error messages come, every time:
1: "Validation failed" - "All fields are required"
2: "Problem" - "There is a problem with getting data from the server"

The 2nd overlaps the first one.
After clicking "OK" on both, I can proceed.

[2014-12-10 14:43] diplomod commented on #33
Works perfectly now.

[2014-12-13 15:36] #41 closed, assigned to mladjan

[2014-12-13 15:46] mladjan commented on #8
That was iOS7 issue, fixed in next build.

[2014-12-13 15:46] #8 closed, assigned to mladjan

[2014-12-26 18:12] diplomod opened #42 "Change Error message from "Problem... " to "Please ...""
![2014-12-26 18 07 37](https://cloud.githubusercontent.com/assets/7487883/5558747/fcdbe0dc-8d32-11e4-8960-361a6e80c579.png)
Don't use "Problem".
If possible, please change to "Please login / You need to be logged in to access this page."

[2014-12-26 18:13] diplomod opened #43 "Where does the text in T&C come from?"
If it's in the App, I need to change it eventually before golive

[2014-12-26 18:14] diplomod opened #44 "Sign-up process not stable"
"Login Failed – Please check your data” - then I clicked the “Complete Sign Up”-button again without changing any info and it worked - quite strange

[2014-12-26 18:15] diplomod opened #45 "Registration of a new user did not work"
May be a mail server problem. Any way, I could not register a news user.

[2014-12-26 18:19] diplomod opened #46 "Shortcode for quiz is displayed as text in “More Information""
Here we need to find a solution I understand the app gets the info from the quiz widget and integrates it in the seperate page behind "Place your bet" - which is fine. But the text displays still the shortcode in the intro nonetheless:

![2014-12-26 18 50 23](https://cloud.githubusercontent.com/assets/7487883/5558782/0c9e597c-8d34-11e4-8ff6-5634661475a9.png)

[2014-12-26 18:21] diplomod opened #47 "Change “More information” button in WellBet page to “Prospect details""
![2014-12-26 19 17 00](https://cloud.githubusercontent.com/assets/7487883/5558784/6166c94e-8d34-11e4-9c9d-6b78eca26200.png)

[2014-12-26 18:22] diplomod opened #48 "Comments don't work"
I cannot place a comment
![2014-12-26 18 52 32](https://cloud.githubusercontent.com/assets/7487883/5558787/91c22b06-8d34-11e4-9db9-15a4621a3f27.png)

[2014-12-26 18:23] diplomod opened #49 "Comments are not synchronized"
Several comments in App, but non on the website ( e.g. http://dokuhl.de/geonova/well-bet-page/640512-1-lindarormen/)

[2014-12-26 18:24] diplomod opened #50 "Same comments on all bets"
We have the same comments on all bets in the App

see also #48 and #49 and #55

[2014-12-26 18:25] diplomod opened #51 "Empty form for placing a bet"
In one bet a had an empty from - worked on the Web, shortcode should be correct
![2014-12-26 18 53 02](https://cloud.githubusercontent.com/assets/7487883/5558793/e40181aa-8d34-11e4-8aac-47fefa2a2f0b.png)

[2014-12-26 18:26] diplomod opened #52 "Linebreaks are not displayed correctly"
![2014-12-26 18 54 39](https://cloud.githubusercontent.com/assets/7487883/5558795/0224f6b2-8d35-11e4-9379-8fb2639ce963.png)

[2014-12-26 18:27] diplomod opened #53 "Optimization results page after placing a bet"
1. Add headline “Results” on top of the table after placing a bet
2. Backlink after placing a bet should not go to Start Screen but Open WellBets

[2014-12-26 18:27] diplomod opened #54 "How can I change the banner at the bottom of the page?"

[2014-12-26 18:29] diplomod opened #55 "No Push-Notification when a new WellBet is added"
When I added the app, I was asked whether I want to allow push notifcation. Yet I don't get any.
At least when a new WellBet is added there should be a push notifcation.
ALso when a comment has been added to any wellbet(see also #50 )

[2014-12-27 17:55] mladjan commented on #54
Banner is hardcoded into app binary.

[2014-12-27 17:57] mladjan commented on #52
Is the problem [wpsqt tag or something else? Line breaks are done automatically, because this is web view of content we have on website.

[2014-12-27 17:57] mladjan commented on #51
This is the problem with test WellBet on the server.

[2014-12-27 17:59] mladjan commented on #43
Yes, it's in our app, and I got it from our designer Igor.

[2014-12-27 18:00] #38 closed, assigned to mladjan

[2014-12-27 21:41] diplomod commented on #54
I need to be able to change it. Is there a way to do that?

[2014-12-27 21:43] diplomod commented on #52
Exactly - the "[wpsqt ... " is the problem. The text does not really make sense, does it?

Line breaks are not done at all. Please compare to web, e.g. http://dokuhl.de/geonova/well-bet-page/test-wellbet-app-ii/

[2014-12-29 10:21] mladenbl commented on #48
We will need access to wordpress plugins files used on website because they making problems in API. For ex. that problem with comments are caused by flamingo plugin and this code:

// GEONOVA-EDIT
$gn_filter = $args['gn_flamingo_filter'];

I'm getting "Undefined index: gn_flamingo_filter" error.

I will not modify any files used by plugin, i just need to see how it's working and how can i solve th

[2014-12-29 11:07] mladjan commented on #55
I was talking with Michael about this, and he told me that we will have only manual sending push notifications.
When you want to send new push notification, you can use this url: https://parse.com/apps/geonovawellbets/push_notifications/new

[2014-12-29 11:07] #55 closed, assigned to mladjan

[2014-12-29 11:36] mladjan commented on #43
Please @diplomod , send me updated text for this screen.

[2014-12-29 11:43] mladjan commented on #47
Done, will be in build 11 (like all other things)

[2014-12-29 11:44] #47 closed, assigned to mladjan

[2014-12-29 11:49] mladjan commented on #50
Fixed this in build 11

[2014-12-29 11:49] #50 closed, assigned to mladjan

[2014-12-29 11:52] mladjan commented on #46
Fixed in build 11

[2014-12-29 11:52] #46 closed, assigned to mladjan

[2014-12-29 11:53] mladjan commented on #49
Fixed in build 11

[2014-12-29 11:57] mladjan commented on #42
fixed in build 11

[2014-12-29 11:57] #42 closed, assigned to mladjan

[2014-12-29 12:00] mladjan commented on #45
it works on the same way like web, because we are using wordpress for registration. This can be wordpress or email problem, we can't change here nothing to improve this.

[2014-12-29 12:00] #45 closed, assigned to mladjan

[2014-12-29 12:10] mladjan commented on #52
[wpsqt] tag is filtered.
Also, about breaklines, you are using on the web "\r\n" for new line (or text editor uses it), but for HTML it's safer to use <br /> tag. I'm changing it in the fly right now.

[2014-12-29 12:31] #53 closed, assigned to nobody

[2014-12-29 13:46] mladenbl commented on #51
Can you please send us admin login details for website?

[2014-12-29 14:03] mladenbl commented on #44
Same reason as #48

[2014-12-29 19:24] diplomod commented on #43
Please use this text:
http://www.geonova.no/about/terms-conditions/

[2014-12-29 20:26] diplomod commented on #55
Yes, that's fine.
2 questions:
1) The push is shown on the phone and in the message center. But the icon does not get the red number of push notifications. (compare to the icon of WellBet right bottom with e.g. the icon of messages). Is this possible?

![2014-12-29 20 07 28](https://cloud.githubusercontent.com/assets/7487883/5572623/5d413754-8fa1-11e4-8f37-7f422a38a675.png)

2) What does this mean

[2014-12-29 20:27] diplomod commented on #48
I forwarded this info to the programming team of geonova.no

[2014-12-29 20:28] diplomod commented on #47
excellent, much better, thanks

[2014-12-29 20:29] diplomod commented on #50
looks fine now, thanks

[2014-12-29 20:29] diplomod commented on #46
correct, looks good, thanks

[2014-12-29 20:35] diplomod commented on #49
Yes - the comments are shown correctly it seems. But the profile pictures are not shown respectively strange icons. Can we show the correct profile pictures?

Strange icons:
![2014-12-29 19 56 43](https://cloud.githubusercontent.com/assets/7487883/5572674/f558a036-8fa1-11e4-8372-380f1bc05953.png)

The user "Hans Gmail" has a profile picture:
![bild](https://cloud.githubusercontent.com/assets/74878

[2014-12-29 20:36] diplomod commented on #42
Can't reproduce now, but I am sure it's fine - thanks

[2014-12-29 20:37] diplomod commented on #45
OK - I tried again, but no success. I guess it's on the test environment side then. I will test it when we switch to the live environment. There it must work.

[2014-12-29 20:40] Immoz commented on #48
Hi, i tried to fix this line in the flamingo plugin. Does it work now?

[2014-12-29 20:50] diplomod commented on #52
looks great, thanks,

[2014-12-29 20:54] diplomod commented on #53
ok, works - thanks

[2014-12-29 20:56] diplomod commented on #51
I made your user with mladjan@blgrd.co an admin on dohul.de/geonova

[2014-12-29 20:58] diplomod commented on #48
Thanks a ot. However, does not work in the app yet.
![2014-12-29 19 53 32](https://cloud.githubusercontent.com/assets/7487883/5572957/c5390112-8fa5-11e4-803d-0ddcc23307d4.png)

[2014-12-29 21:00] diplomod opened #56 "Comment button not transparent in any WellBet"
In WellBets where I have placed a bet already, the "Place your bet" button is transparent=inactive. This is fine.

but the comment button is transparent, too, which is not correct because the commenting function should be available any time, regardless whether the user has placed a bet in this bet or not.

![2014-12-29 20 01 09](https://cloud.githubusercontent.com/assets/7487883/5572987/1776eeda-8

[2014-12-29 21:02] diplomod opened #57 "Add some space on the sides"
Content is squeezed and sometimes words are cut off - so a little bit of space on the sides would be good:

![2014-12-29 20 01 09](https://cloud.githubusercontent.com/assets/7487883/5573001/3d4fd752-8fa6-11e4-8700-f2ddf8866a75.png)

See "ago" in the top line
![2014-12-29 19 56 43](https://cloud.githubusercontent.com/assets/7487883/5573003/45fbf908-8fa6-11e4-82e7-5c8e370bd302.png)

Strangely, some

[2014-12-29 21:03] diplomod opened #58 "Font darker"
I know we have gone through this, but the font is simply too light. Please make it darker.

![2014-12-29 19 55 14](https://cloud.githubusercontent.com/assets/7487883/5573016/7e1af2f8-8fa6-11e4-9991-139576c4e4f7.png)

[2014-12-29 21:06] diplomod opened #59 ""See details" => directly to "Prospect details""
When I click on "See details" I come to the screen with the text "You can place your bet ... " and the two buttons "Prospect details" ans "Place your bet" (inactive". This does not make sense.
Users should be directed straight to the screen behind "Prospect details".

[2014-12-29 21:06] diplomod commented on #54
I know you guys are working on a solution. Please keep in mind: The banner should be clickable, so we need to be able to set a hyperlink behind it.

[2014-12-29 21:08] diplomod opened #60 ""See Details" => "See details" & "See Results" => "See results""

[2014-12-29 21:11] diplomod opened #61 "Results: Some or any of my votes are not highlighted in green"
Here, any are highlighted:
![2014-12-29 19 49 41](https://cloud.githubusercontent.com/assets/7487883/5573079/4306530a-8fa7-11e4-8edb-9384241cc719.png)

Here, only a few:
![bild2](https://cloud.githubusercontent.com/assets/7487883/5573104/b23121e2-8fa7-11e4-8693-100ad12276a3.jpeg)

Works in the web version

[2014-12-29 21:13] diplomod opened #62 "Home: "Place your bet" => "Access WellBet""

[2014-12-29 21:13] diplomod commented on #62
No, stupid idea, forget it.

[2014-12-29 21:13] #62 closed, assigned to mladjan

[2014-12-29 21:15] diplomod opened #63 "Open WellBets: Only show bets I have not placed a bet on myself"
It's too confusing still.
If possible: Please filter out in "Open WellBets" those bets I have placed a bet on. Show only the bets I have not placed a bet yet in "Open WellBets" and which are open. I find the open ones that I have placed a bet on in "My WellBets" anyway.
It's not super clean but more intuitive.

[2014-12-29 21:18] diplomod opened #64 ""See my bet" instead of inactive "Place your bet"-button"
All ets where I have placed my own bet, I cannot see my personal bet again.

We should show instead of an inactive "Place your bet"-button a button that says "See my bet" and show the results page which I get after I have submitted my bet.

This is very important.

[2014-12-29 21:24] diplomod opened #65 "Results don't work for closed bets"
For some reason, I cannot access the results page for closed bets.

I double checked with the web version, cleaned out results, checked the shortcode, and tried again, but can't see the result page:

![bild3](https://cloud.githubusercontent.com/assets/7487883/5573204/631d1c30-8fa9-11e4-903a-24226c6c6f7b.jpeg)
![bild4](https://cloud.githubusercontent.com/assets/7487883/5573205/631dc48c-8fa9-11e4-92

[2014-12-29 21:27] diplomod commented on #36
Any ideas about how to make the comments visible?
What I mean is that users should see immidiately when they open a prospect details page whether there are any comments. E.g. it's great if we could have "Comments (0)" or "Comments (3)" in the button instead of only "Comment"

[2014-12-29 21:28] diplomod commented on #40
see also #65

[2014-12-30 10:28] mladenbl commented on #51
Fixed, wrong shortcode in wellbet post.

[2014-12-30 13:03] diplomod commented on #51
:)

[2014-12-30 13:03] #51 closed, assigned to nobody

[2014-12-30 16:29] Immoz commented on #48
Is the error still caused by the flamingo plugin and this error message?
"Undefined index: gn_flamingo_filter"

Normally this should not happen anymore.

[2015-01-02 15:08] mladjan commented on #64
Added in build 12.

[2015-01-02 15:12] mladjan commented on #61
The problem is, that I know my votes only when I'm showing results screen after my vote. If I show this screen directly from dashboard, I don't know what I voted on this wellbet. This is a technical limitation.

[2015-01-02 15:13] mladjan commented on #60
changed in build 12

[2015-01-02 15:13] #60 closed

[2015-01-02 15:17] mladjan commented on #59
What about this task? https://github.com/diplomod/WellBet-App/issues/64

[2015-01-02 15:22] mladjan commented on #58
Ok, using right now Regular instead of Light version of the KarminaSans font

[2015-01-02 15:22] #58 closed

[2015-01-02 15:28] mladjan commented on #57
I think I fixed them all in build 12.

[2015-01-02 15:28] #57 closed

[2015-01-02 15:32] mladjan commented on #56
It just looks like transparent, but the color is the same for both screens. If you pick the color with color picker, you will see :)
Only think I can do is to change this color.

[2015-01-02 16:36] diplomod commented on #61
OK - but the user is logged in and the DB should be telling us what the user has been voting on, doesn't it?

[2015-01-02 17:00] mladjan commented on #61
Yes, we know everything about that user, but what he voted we doesn't know when we are returning results. Mladen (our API developer) told me that plugin for wordpress (voting) doesn't giving him this info.

[2015-01-02 17:08] mladjan commented on #49
There was a problem with library I'm using for gravatar images. Wordpress in general is using gravatar service to get the avatar from email.
As you can see in build 12, for my account there is a avatar.
Hans Gmail doesn't have gravatar image, and you can check it here: https://en.gravatar.com/site/check/

[2015-01-02 17:08] #49 closed

[2015-01-02 17:13] mladjan commented on #48
I tested it right now, it works.

[2015-01-02 17:17] mladjan commented on #43
Updated in build 12.

[2015-01-02 17:17] #43 closed

[2015-01-02 19:57] mladenbl commented on #65
Hi,

Problem is in shortcode, when you close wellbet and remove shortcode from post content i can't get results for quiz because i don't know which one you used. What do you think about creating custom value textbox in wordpress where you can enter quiz name when you close it ,and then i can pull results based on that?

[2015-01-02 22:25] diplomod commented on #65
Thanks for the info. I don't get it, but Tom who deployed the plugin eventually can help.

@Immoz Tom, can you evaluate this suggestion and let us know if this could a) solve the problem and b) could be done from your side. Thanks!

[2015-01-02 22:29] diplomod commented on #49
Thanks. I don't know how geonova.no is working in this regard.
@Immoz Can you let us know if a) geonova.no is using gravatar and b) if we therefore will see avatar pictures in the live version of the app or not? Thanks for your input.

[2015-01-02 22:33] diplomod commented on #61
I don't get it - on the web version, the system always remembers which bets I have already placed a bet and the details of my individual bet.
@mladjan Have a look at the performance of the system on the web: http://www.geonova.no/well-bet/
Apparently, there is information which cannot be accessed through the API for the app. In that case, we need support from @Immoz
Anyway, please check if that is

[2015-01-03 15:06] Immoz commented on #49
Geonova first checks if the user has uploaded an avatar on profile settings. If there was no image uploaded on geonova, it continues to check for gravatars by the given email. To fetch the uploaded images on geonova i use for example this php-code:
bp_core_fetch_avatar( array( ‘item_id’ => $userid) );

or without html (don't tried this code):
bp_core_fetch_avatar( array( ‘item_id’ => $userid, ‘htm

[2015-01-03 15:25] Immoz commented on #61
This part was implemented by Kevin but maybe you can retrace the workflow for getting votes of the current user by having a look on his code (line 98 and previous):
\geonova\wp-content\plugins\WP-Survey-And-Quiz-Tool-master\lib\Wpsqt\Page\Main\Results\Poll.php

[2015-01-03 17:18] Immoz commented on #65
Yes, we could do this and I'm sure this would solve the problem.

[2015-01-04 08:47] diplomod commented on #65
@Immoz Thanks - please discuss with Philip if you can deliver this today or tomorrow.
@mladjan Would that work for you?

[2015-01-04 11:39] mladjan commented on #65
Yes, @mladenbl will be able to fix the problem if we have some custom field with shortcode.

[2015-01-04 15:56] Immoz commented on #65
Hi, i added the input box for the wellbet shortcode. I hope this helps you further.
![2015-01-04 16_51_50-edit post geonova wordpress](https://cloud.githubusercontent.com/assets/1924026/5606506/941a78f4-9432-11e4-8163-20ef35956630.png)

[2015-01-05 09:14] mladenbl commented on #65
Fixed with this custom field, just add shortcode to it when you close/open wellbet.

[2015-01-05 09:31] diplomod commented on #65
Thanks. Do we need to add the shortcode in the field
1) on top to the shortcode in the description and
2) to all "old" WellBet?

[2015-01-05 09:39] mladenbl commented on #65
1) Yes
2) Yes, if you don't add it they will not work

[2015-01-05 10:01] mladjan commented on #65
It's ok right now.

[2015-01-05 10:01] #65 closed

[2015-01-05 10:01] #63 closed

[2015-01-05 10:05] #44 closed

[2015-01-05 10:49] #40 closed

[2015-01-05 12:34] #61 closed

[2015-01-05 12:49] #54 closed

[2015-01-05 12:51] mladjan commented on #59
@diplomod  what to do here? We have this issue, and issue #64 and they are contradictory.

[2015-01-05 13:17] diplomod commented on #59
Correct - we go for #64 (assuming that we can show my personal bet)

[2015-01-05 13:17] #59 closed

[2015-01-05 13:18] diplomod commented on #54
Is there a solution in the next build for changing the banner (+hyperlink)?

[2015-01-05 13:33] mladjan commented on #36
Added number of comments in format "Coments (23)"

[2015-01-05 13:33] #36 closed

[2015-01-05 13:37] mladjan commented on #54
Yes, I'm pulling banner image and url from our server (http://www.dokuhl.de/geonova/api/public/banner)
We can change these info anytime on the server. Right now we don't have any fancy admin tool because it's too much work to build one just for changing the banner image and url, so web devs can change this anytime on the server.

[2015-01-05 13:45] diplomod commented on #54
Thanks!
@Immoz Who is our webdev? Can I make that myself?

[2015-01-05 14:02] mladjan commented on #54
Our web developer (Mladen) :)

If you want to change it, image and url will be stored at: /public/banner/
Just rewrite image banner.png
URL will be in .txt document

P.S. Mladen is now changing something on the server to make this work, this will  be done in next 15-30min.

[2015-01-05 14:04] diplomod opened #66 "Change banner link to http://www.petroleum.fo"

[2015-01-05 14:05] #66 closed

[2015-01-05 14:19] diplomod commented on #64
Sorry... :) Can we make "Show my bet" instead of "See my bet"?

[2015-01-05 14:45] diplomod commented on #54
Great - thanks. What is the correct size of the png-file?

[2015-01-05 14:59] mladjan commented on #64
Changed

[2015-01-05 14:59] #64 closed

[2015-01-05 14:59] diplomod commented on #48
Same still. Tried with 2 different users on all WellBets.
![2015-01-05 15 20 04](https://cloud.githubusercontent.com/assets/7487883/5614675/c51c864c-94f3-11e4-9f36-fb66549c6846.png)
![2015-01-05 15 48 24](https://cloud.githubusercontent.com/assets/7487883/5614682/cfbff9da-94f3-11e4-8cb7-dd57c5632771.png)

[2015-01-05 15:00] diplomod commented on #52
Now they're back again:
![2015-01-05 15 38 12](https://cloud.githubusercontent.com/assets/7487883/5614697/eed5d862-94f3-11e4-8de6-3ce9d0d75dce.png)
![2015-01-05 15 13 27](https://cloud.githubusercontent.com/assets/7487883/5614702/f6a76a24-94f3-11e4-96cb-109ff3dc4622.png)

[2015-01-05 15:01] mladjan commented on #54
You can see example size, 640x100

[2015-01-05 15:01] mladenbl commented on #54
Hi,

I just changed folder name from "banner" to "banner_content". Now content is in /public/banner_content/

[2015-01-05 15:02] diplomod opened #67 "Typo in eror message when quiz results cannot be displayed"
We should not see this error message at all anyway, but if it is shown, the typo must be corrected.
Should be "submitted" instead of "submited"
![2015-01-05 15 14 30](https://cloud.githubusercontent.com/assets/7487883/5614721/3a0a8f9e-94f4-11e4-98fd-8889fb7bdd07.png)
(the problem was an incorrect shortcode)

[2015-01-05 15:03] diplomod opened #68 "Open WellBets blank after submitting bet"
There are several open bets. But when I submit a bet on one of them, the entire section is blank:

![2015-01-05 15 17 27](https://cloud.githubusercontent.com/assets/7487883/5614735/6ae9f0e6-94f4-11e4-8158-88b1543cfa84.png)

[2015-01-05 15:04] mladjan commented on #52
Linkbreaks are done automatically like in any website. This content is generic and these links I can't map to some native screens

[2015-01-05 15:05] diplomod opened #69 "Replace inactive "Place your bet" button next to comments with "Show my bet""
in bets where I have already placed a bet.
![2015-01-05 15 20 35](https://cloud.githubusercontent.com/assets/7487883/5614755/b7d57754-94f4-11e4-9f93-862770f1d061.png)

[2015-01-05 15:06] #67 closed

[2015-01-05 15:06] diplomod opened #70 "Results page: Reduce empty space an top and remove grey block"
![2015-01-05 15 44 01](https://cloud.githubusercontent.com/assets/7487883/5614774/d1fb877c-94f4-11e4-9994-695ad8ad8b5b.png)
![2015-01-05 15 27 57](https://cloud.githubusercontent.com/assets/7487883/5614779/d7ecdf28-94f4-11e4-8173-69aa2f7e978d.png)

[2015-01-05 15:08] diplomod opened #71 "Hide link to results page on web"
Is there a way how we can hide the link to the results page on the web?
It is always included in the text when a bet has been closed. But users will click first on the link that says "See the detailed results..." and get to the webpage rather than clicking on the "See results" button at the bottom of the page.
![2015-01-05 15 38 12](https://cloud.githubusercontent.com/assets/7487883/5614812/1899ac

[2015-01-05 15:09] diplomod opened #72 "Font in poll and results screens also darker"
![2015-01-05 15 43 20](https://cloud.githubusercontent.com/assets/7487883/5614821/2fb959a2-94f5-11e4-866d-4f3df55eb3c7.png)
![2015-01-05 15 27 57](https://cloud.githubusercontent.com/assets/7487883/5614828/35cf62a0-94f5-11e4-8519-c1d4afa60673.png)

[2015-01-05 15:10] diplomod opened #73 "Crash when trying to open "See Detailed Results""

[2015-01-05 15:10] mladenbl commented on #48
Fixed, problem with new plugin in wordpress, i just removed all save_post actions on comments submit(in api) and you will not have problem with this again.

[2015-01-05 15:12] diplomod commented on #52
Sorry for not getting it. But in the last build, the linebreaks as delivered by wordpress were displayed correctly in the app. Now they disappeared again.

[2015-01-05 15:14] diplomod commented on #36
that is really great and totally serves the purpose.

[2015-01-05 16:14] diplomod opened #74 "Please add new tester"
audreynorkus@gmail.com

[2015-01-05 22:25] #56 closed

[2015-01-06 08:29] mladenbl commented on #71
There is no any unique identifier that i can use to remove that link, only if you add some unique id, class or something to that link i will be able to remove it. Currently i can only remove all links.

For example:

Currently link is like this:

[code]

If we add " id='details-link' " to it and link become like this

[code]

I will be able to remove it.

[2015-01-06 08:55] diplomod commented on #71
Thanks for the feedback - I guess this would be feasible, but I'm worried that we will make mistakes and then it does not work and we search for ages for the mistake...
@Immoz Could we adopt the WellBet admin page accordingly? Adding a fixed field for the link to the results page?

[2015-01-06 09:55] #73 closed

[2015-01-06 10:07] #70 closed

[2015-01-06 10:10] #72 closed

[2015-01-06 10:18] mladjan commented on #52
I just saw raw html I'm getting from wordpress (pasted at the end).

To make line break, you need to use HTML tag `<br />`, which means "break line".
In this example, you don't have it.

[code]

[2015-01-06 10:18] #52 closed

[2015-01-06 10:27] mladjan commented on #68
Maybe you wasn't logged in before that? If you remove app, install it again, log in, return to that screen (before you done betting), you will see these bets. I just tested this, it works as expected.

[2015-01-06 10:27] #68 closed

[2015-01-06 10:39] #69 closed

[2015-01-06 10:42] mladjan commented on #74
New tester needs to add his device first, and after that I will be able to add his UDID into next build. But I hope we will finish with testing and send this to AppStore in some point of time :D

[2015-01-06 12:15] Immoz commented on #71
Sure, this would be no problem.

[2015-01-06 19:03] diplomod commented on #71
OK @Immoz please add that field.
Can we then have as standard a green button at the bottom of the text, saying
"Detailed results of this WellBet and information on the prospect"

And since we're working on it, can you also add the sentence below this button then:
"Learn more about Geonova’s WellBet – powered by Atlantic Petroleum here." ("here" is linked to http://www.geonova.no/well-bet/about-wel

[2015-01-06 19:08] diplomod commented on #74
OK - what means to add the device again? I already forgot :)
Audrius will only test as soon as we are on the live server

[2015-01-06 19:09] mladjan commented on #74
Done this already, sent the build twice.

[2015-01-06 19:09] diplomod commented on #52
@Immoz Apparently, our wordpress delivers suboptimal HTML. Can we change it so we make those hardcore linebreaks and give out the HTML that is also interpreted as linebreak by the app?

[2015-01-06 19:10] diplomod commented on #74
:)

[2015-01-06 19:10] #74 closed

[2015-01-06 19:11] mladjan commented on #71
What is the action for that button? This is HTML, and we are loading this into native app, so we are limited with technology a little bit, all links needs to be handled manually.

[2015-01-06 19:16] diplomod commented on #71
The button is a link to a page which is created after a WellBet is closed. We do this extra page as we replace the original content with a simple summary of the outcome and only link to the poll results.
See e.g. here: http://www.geonova.no/well-bet/closed-well-bets/wellbet-kopervik-prospect-details/

Now in the App, we are showing the summary and link to the detailed results. So we don't need to

[2015-01-06 20:00] diplomod commented on #73
seems stable now

[2015-01-06 20:01] diplomod commented on #70
Looks good now

[2015-01-06 20:02] diplomod commented on #69
great - lot more intuitive!

[2015-01-06 20:03] diplomod commented on #68
Well, it happened again, but only with one of my testusers. With the other one it works just fine. We leave it for now.

[2015-01-06 20:03] diplomod commented on #65
works fine now

[2015-01-06 20:05] diplomod commented on #60
very good, now it's all aligned

[2015-01-06 20:06] diplomod commented on #57
Looks very good on all pages now!

[2015-01-06 20:12] diplomod commented on #48
Well, I hate to tell you, but I do: Still can't comment. Anywhere... Tried all bets and different users.
![2015-01-06 20 44 21](https://cloud.githubusercontent.com/assets/7487883/5635349/ab5000e0-95e8-11e4-8004-8cd5799832d3.png)
![2015-01-06 20 48 06](https://cloud.githubusercontent.com/assets/7487883/5635352/b260916a-95e8-11e4-995a-5ca50ea54382.png)

[2015-01-06 20:13] diplomod opened #75 "Empty lists"
When there are no more open WellBets, the list is empty. please add a sentence then stating "There are currently no WellBets in this list."
![2015-01-06 20 44 55](https://cloud.githubusercontent.com/assets/7487883/5635366/e48bde92-95e8-11e4-84a4-737eb777fa6e.png)

[2015-01-06 20:15] diplomod opened #76 "Closed WellBets should stay in "My WellBets""
Is it possible to keep all WellBets in "My WellBets", also when they're closed?
Sorted chronologically, with the one where I placed a bet latest on top.
![2015-01-06 20 55 29](https://cloud.githubusercontent.com/assets/7487883/5635392/1bf1581c-95e9-11e4-8fc9-0175ef27c864.png)

[2015-01-06 20:16] diplomod opened #77 "Type on detailed results page"
"Your answers arvv ..."
Must
![2015-01-06 20 58 30](https://cloud.githubusercontent.com/assets/7487883/5635407/43f43abe-95e9-11e4-9f81-b1c59f1b9949.png)
say "Your answers are..."

[2015-01-06 20:22] diplomod opened #78 "Prospect details in closed bets"
We should have a link to "Prospect details" also in closed bets, just as we have it in the open bets.
Now I know that this is tricky because the content behind that button is sourced from the original wordpress page when the WellBet is created, but this page is changing when the WellBet is being closed.

So what we would need is actually an extra field in the Wordpress system for "Prospect details

[2015-01-06 20:23] diplomod opened #79 ""See Detailed Results" => "See detailed results""
In closed WellBets - so we are in line with all other buttons
![2015-01-06 21 21 26](https://cloud.githubusercontent.com/assets/7487883/5635546/4acbdefe-95ea-11e4-8f97-c47e4886de8d.png)

[2015-01-06 20:25] diplomod opened #80 "Comments for closed WellBets"
Can we add the comments-button at the bottom of the page of closed WellBets? (below button "See Detailed Results")
Comments are in particular important when the WellBet has been closed.
![2015-01-06 21 21 26](https://cloud.githubusercontent.com/assets/7487883/5635579/81ef6054-95ea-11e4-8c23-ecb5800f4dda.png)

[2015-01-06 22:50] diplomod commented on #48
I saw that Audrius was able to comment. He has an iPhone 5c. I use iPhone 4. Maybe it's an issue with older versions of the iPhone?

[2015-01-06 23:39] diplomod opened #81 "Frame size on iPhone 5c"
Input from Audrius:

when you open 'prospect details' the so called frame is bigger than the screen size and you can not even slide up and down but also left or right. Sliding to the sides doesn't change much so maybe it's possible to make frame size the same as the screen size. If you understand what I mean.
like in the 'more information' from home screen of the app. you can slide only up and dow

[2015-01-07 14:23] mladjan commented on #48
There is no difference between different types of device, this can be up to your account.
On my phone, it works every time.
Can you tell me which account you are using so I can log in and try in debug environment?

[2015-01-07 14:25] #77 closed

[2015-01-07 14:37] #81 closed

[2015-01-07 14:39] #79 closed

[2015-01-07 14:51] #75 closed

[2015-01-07 14:58] diplomod commented on #48
Two accounts:
diplomod@gmail.com / 12345
hans_gebauer@hotmail.com / 123456

[2015-01-07 15:06] mladjan commented on #48
Thx, something crashes on the server with your account, I just sent this to
Mladen our developer (right now is Christmas for him, maybe he will respond
tomorrow).

On Wed Jan 07 2015 at 3:59:21 PM diplomod notifications@github.com wrote:

[2015-01-07 15:24] diplomod commented on #48
OK  -I just created a new account - it works! So I guess this is fine. :)

[2015-01-07 15:24] #48 closed

[2015-01-07 17:17] Immoz commented on #71
The field for the summary-url is added.

[2015-01-08 09:20] mladenbl commented on #76
They are already in my wellbets.

[2015-01-08 09:22] diplomod commented on #76
OK - I was under the impression that they disappear from my WellBets when bets are closed, but I guess it's correct if you say so. Let's have an eye on it when live :)

[2015-01-08 09:22] #76 closed

[2015-01-08 12:51] diplomod opened #82 "Can we remove the scrolling in the results?"
Why don't we use the full page here instead of the tiny scrolling?
![foto](https://cloud.githubusercontent.com/assets/7487883/5662731/68de1796-973d-11e4-9a9b-73e9e2645764.png)

[2015-01-08 12:54] diplomod opened #83 "Wrong frame size in closed WellBets"
frame size seems to be fixed under ‘My Wellbets’ but if you check closed ones under ‘Closed Wellbets’ you see this:
![img_0114](https://cloud.githubusercontent.com/assets/7487883/5662755/bb5418c2-973d-11e4-92bc-eabb1bd4c926.png)
iPhone 5c

[2015-01-08 13:39] mladjan commented on #82
We have more content then space on the page, this is why we are using scrolling.
Why? Because Igor designed it to work like this and you approved it :)

[2015-01-08 14:02] diplomod commented on #82
OK - but still it does not make sense. I'll check with Michael.

[2015-01-09 08:00] audriunas commented on #82
On iphone 5 you cannot see questions of the poll fully and you cannot slide to the sides. Only up and down.

[2015-01-09 10:44] mladjan commented on #83
Which iOS version you have on iPhone 5c? I tested it on iPhone 5 and it looks fine.
Please test again this new build (16) and let me know if this happen again.

[2015-01-09 10:45] mladjan commented on #71
This is done on server side?

[2015-01-09 10:51] mladjan commented on #82
Ok, scrolling is now in one peace, and questions fill fit right now.

[2015-01-09 10:51] #82 closed

[2015-01-09 18:45] diplomod commented on #71
@Immoz ??

[2015-01-10 20:56] audriunas commented on #83
Tested with the new build (16). It's the same. iOS 8.1.2.

[2015-01-11 17:51] diplomod opened #84 "Screen is not working on iPhone 5"
It's the same resolution than on the smaller screen of iPhone 4 - we waste lots of space on top and on the bottom:

![photo 1](https://cloud.githubusercontent.com/assets/7487883/5696140/e52930ba-99c2-11e4-85f0-30d5cd28b42c.png)
![photo 2](https://cloud.githubusercontent.com/assets/7487883/5696139/e5287468-99c2-11e4-89e2-cb0d6e54b5e2.png)

[2015-01-11 17:54] diplomod opened #85 "Registration process can be completed with an email-address that is already been used"
If I regsiter with an email address that is already used in geonova.no, I can complete the sign-up process in the WellBet App, but I never get a confirmation email since the system does not accept the email address.
There must be a feedback to the user who tries to register with such an email address (Kind of like "This email address is already used for an account on geonova.no.")

[2015-01-11 18:00] diplomod opened #86 "Direct user to login after "Please login...""
The user is asked to log in when I try to click on "My WellBets". But I cannot login as there is no login button. The fact that I can login as soon as I try to place a bet does not help at all because nobody knows that.

So the user ust be redirected to the login screen after pressing "OK" here:
![photo](https://cloud.githubusercontent.com/assets/7487883/5696168/18b9fdaa-99c4-11e4-8904-6bef86b9d08

[2015-01-11 22:20] diplomod opened #87 "Wrong text and Typo in Prospect Details"
This text is not from the WellBet page but must be in the app. It is unnecessary and has a typo!

Take out "INFOMRATION ABOUT THIS PROSPECT" and "Name of the prospect"

![bilde](https://cloud.githubusercontent.com/assets/7487883/5697133/5d45d24a-99e8-11e4-866e-683cc8f5c19c.png)

[2015-01-12 10:22] #84 closed

[2015-01-12 10:23] #87 closed

[2015-01-12 10:29] #86 closed

[2015-01-12 10:35] mladjan commented on #83
I hope in build 18 this is ok: http://cl.ly/image/0v3h0c0z0n2p

[2015-01-12 10:35] #83 closed

[2015-01-12 10:44] #85 closed

[2015-01-28 08:36] diplomod opened #88 "Keep bets in "My WellBets" and "Open WellBets""
Keep bets also in "Open WellBets" after placing a bet as lon as they are open. It is confusing when I have placed a bet and then "Open WellBets" is suddenly empty.
![2015-01-28 00 09 56](https://cloud.githubusercontent.com/assets/7487883/5934637/5b5dc72a-a6d2-11e4-8ff3-1ef5ea3f8c54.png)

[2015-01-28 08:40] diplomod opened #89 "App has problems with wordpress toolbar toggle"
In Zulu WellBet we have integrated a toolbar toggle/text box in the description.
It is interpreted incorrectly by the app - the screen can be scrolled to the side as the text in the boy apparently is not fitted in:
![screen shot 2015-01-28 at 09 06 11](https://cloud.githubusercontent.com/assets/7487883/5934580/88dba1f0-a6d1-11e4-8a92-b9e9a4cd3706.png)
![2015-01-28 00 08 16](https://cloud.githubuse

[2015-01-28 08:42] diplomod opened #90 "Pictures are not shown"
It is only shown the same picture for all pictures.
Here, this onw should be shown:
![screen shot 2015-01-28 at 09 01 52](https://cloud.githubusercontent.com/assets/7487883/5934598/ca8e7794-a6d1-11e4-90ea-73c77e271cc9.png)
But we see this one again (it's the first picture):
![2015-01-28 09 01 48](https://cloud.githubusercontent.com/assets/7487883/5934605/ee80ab22-a6d1-11e4-9b77-9ce8e0ce0f58.png)

[2015-01-28 08:43] diplomod opened #91 "App does not recognize my data"
I have placed a bet with this user on both wellbets already on the web. But the App allows me to place a new bet through the app. I wonder if the app does not get the right info from the database:
![2015-01-28 00 08 34](https://cloud.githubusercontent.com/assets/7487883/5934619/26111cca-a6d2-11e4-8589-e2ae465ee6c2.png)

[2015-01-28 08:47] diplomod opened #92 "Pingback comments"
@Immoz The pingbacks look like a error in the comments. I would like to keep them as they are links to interesting aricles usually. Can we optimize this in a way that is usually says "Read this article related to this here: URL"?

[2015-01-28 08:51] diplomod opened #93 "Clean formatting in Wordpress"
@Audrius
We ust make sure that the content in wordpess is formatted as clean as possible and as little spaceous as possible.
Here I had to clean the text as wordpress provided several hidden linebreaks (I do this by cutting the text from wordpress, pasting it into e.g. Google search field, copy+paste back into Wordpress -> Google search fields cleans all formatting):
![2015-01-28 00 07 58](https:/

[2015-01-28 08:53] diplomod opened #94 "Headlines bold"
It would be very good for the overview if the app interprets bold font as such:

e.g. Johann Sverdrup is bold in Wordpress, in the app I see no difference

![2015-01-28 09 01 35](https://cloud.githubusercontent.com/assets/7487883/5934720/659f4514-a6d3-11e4-8f49-7b4f3ce4998e.png)

[2015-01-28 08:55] diplomod opened #95 "Hide intro"
This intro is misleading and takes lots of space. We should start with the description right away:
![2015-01-28 00 06 59](https://cloud.githubusercontent.com/assets/7487883/5934744/8e1b1928-a6d3-11e4-8f31-2c9cd9364161.png)
WOrst case is that people click on the link and come to the web version even before they see the button "Place your bet"

If it is possible, I suggest you cut out everything abo

[2015-01-28 08:58] diplomod opened #96 "Open external URLs within the app"
Is there a way to open external links within the frame of the app?
The problem is that Iwhen I open an external link form the app, my webbrowser opens. In order to get back, I need to close the webbrowser and re-open the app.
It would be better if I had a possibility t get back to the app with one click.

[2015-01-28 12:55] audriunas commented on #93
Alright, I'll have that in mind.

[2015-01-31 11:20] mladjan commented on #96
Yes, it's possible, but it will take few hours of work.

[2015-01-31 11:22] mladjan commented on #95
All informations shown here are HTML we are pulling from wordpress database. Data is not consistent and any cut of data is working in the dark. All filtering can be done on API side.

[2015-01-31 11:26] mladjan commented on #94
Also, this is HTML just rendered in embedded safari. Can you copy/paste me this tag from HTML? Bold can be defined in HTML on different ways.

[2015-02-01 14:24] diplomod commented on #94
I send you a txt file (if I copy paste here, it shows the same as on he webpage)

[2015-02-01 14:28] diplomod commented on #95
OK - I don't quite understand. What is the API side?

[2015-02-01 14:29] diplomod commented on #96
OK - I'll clraify with Michael

[2015-02-01 22:21] mladjan commented on #95
We built API, middle man between wordpress database and iOS app. This part of the code is pulling data from database, filtering data, and forwarding data to the app.

[2015-02-02 06:53] diplomod commented on #95
OK - so can you cut it off or not?

[2015-02-02 09:18] mladjan commented on #95
No, because this is something just for this wordpress post, this is not repeatable on all posts.
You need to open this post in wordpress, see HTML code (or somebody who knows HTML well) and remove <br /> tags or anything other what makes this space.

[2015-02-02 09:38] mladjan commented on #94
Ok, you are using <strong>. Added styling for string too.

[2015-02-02 09:38] #94 closed

[2015-02-02 09:57] mladjan commented on #90
I'm getting these pictures in HTML: http://cl.ly/code/2a2z3R1q2F13
Will check with API developer too.

[2015-02-02 09:58] mladjan commented on #92
Will check with API dev (@mladenbl)

[2015-02-02 09:59] mladjan commented on #92
@mladenbl will check that

[2015-02-02 10:00] mladjan commented on #91
@mladenbl will check that

[2015-02-02 10:01] mladjan commented on #88
@mladenbl can do this

[2015-02-02 10:02] mladjan commented on #80
This will take few additional hours of work. I can do this, but you should check this with Michael.

[2015-02-02 10:04] mladjan commented on #78
@mladenbl can check this, but I think we don't have this data.

[2015-02-02 10:06] mladjan commented on #71
@mladenbl ?

[2015-02-02 15:20] diplomod commented on #94
... and that means?

[2015-02-02 15:21] diplomod commented on #95
@Immoz Can we optimize this in the Geonova system? Apparently the HTML that our editor delivers cannot be interpreted correctly by the app.

[2015-02-02 15:21] diplomod commented on #90
I cannot aee the picture, Pleas epost it here. Anyway. it does not work for mw. this is very important.

[2015-02-02 15:24] diplomod commented on #78
@Immoz Your feedack please

[2015-02-02 15:32] mladjan commented on #94
It will be visible for you in next build

[2015-02-05 12:15] Immoz commented on #95
If i am right, the content above "INFORMATION ABOUT THE PROSPECT" and the shortlink to the poll should be always the same? So we could build only one editor field where you can set this content and let this content automatically show on all open well-bets. With this you not always need to copy+paste this content. Additionally we can surround this content by a "box" (div) with an ID which should be

[2015-02-05 13:06] Immoz commented on #78
Yes i could add such a field.

[2015-02-05 13:16] Immoz commented on #95
Or to be precise you not even need to remove this "box" if you only fetch the well-bet post content. (unnecessary content is already excluded)

[2015-02-05 15:13] diplomod commented on #95
great , thanks.

@mladjan Can we work with that?

[2015-02-05 15:16] diplomod commented on #78
Excellent. I'll get in touch with you regarding the effort.
@mladjan You have not privided feedback yet if this would work for you. Please let us know.

[2015-02-09 20:42] mladjan commented on #95
Hi,

this is html issue.
From the server, I'm getting this html content: http://cl.ly/image/1R150j243B0j
This space is making one empty <p> tag and 2 <br /> tags: <br /><p> </p><br /><p>

If you clean this from post content in wordpress, this will be fixed. If you switch to "Text" mode, you will be able to edit pure HTML: http://cl.ly/image/3d2E372E2R3f

[2015-02-09 20:45] mladjan commented on #90
Also, the same problem like in previous issue: http://cl.ly/image/1R150j243B0j
This is the HTML I'm getting from your wordpress site. As you can see, all image urls are the same. I don't have anything with this, this is wordpress editing issue.

[2015-02-09 20:45] #90 closed

[2015-02-09 20:47] mladjan commented on #89
I can't see this WellBet because it's completed. Please, give me HTML example how this looks, and I will add css in the app to style this.

[2015-02-10 11:09] mladenbl commented on #92
Added, please check it now.

[2015-02-10 11:10] mladenbl commented on #88
Fixed

[2015-02-10 11:20] mladenbl commented on #78
I can pull data from custom field based on post ID. When you create that field please send me a name of it.

[2015-02-10 11:34] mladenbl commented on #71
I just added details link to object, but you will need to integrate this solution to website also, because i can't remove that link from content(explained in my last comment). You will need to add details link in custom field and remove it from post content, and then on website you will need to pull that link from custom field and display it. I hope that you understand me.

[2015-02-10 11:55] #92 closed

[2015-02-10 11:55] #88 closed

[2015-02-10 13:09] diplomod commented on #96
We agreed that this is extra - comes later

[2015-02-10 13:10] diplomod commented on #95
@Immoz Please review and let me and @audriunas know 1) what exactly to change in the existing ones and 2) what to do differently in the future

[2015-02-10 13:11] #93 closed

[2015-02-10 13:14] diplomod commented on #89
@Immoz Please help me out here - I don't even know where to look :)

[2015-02-10 13:14] diplomod commented on #80
OK - next Update - extra

[2015-02-10 13:15] diplomod commented on #78
@Immoz Go go go :)

[2015-02-10 13:16] diplomod commented on #71
@Immoz Go go go

[2015-02-10 13:38] audriunas commented on #95
test comment.

[2015-02-10 15:26] diplomod commented on #95
@mladjan We will extract the text (which I want to be out on top) in an extra field. For you, nothing should change since the information for the app is still sourced from the same field.

[2015-02-10 16:25] Immoz commented on #71
I implemented this on the dokuhl server. If you mark a wellbet as closed in the admin-panel and insert the summary-url into the provided field - the button and info-text will be automatically added at the bottom of the content. (see result here http://dokuhl.de/geonova/well-bet-page/332-1-saturn/ )

@diplomod just tell me when i should upload this on the live server. Because after i uploaded this,

[2015-02-10 16:49] Immoz commented on #78
Hi, i reviewed this issue and if i understood this right we can use the field "wbsummarylink" for closed bets as well as for open bets to set a link to wellbet-prospects. @mladenbl if you need to pull data based on post ID maybe you can just use this method? http://codex.wordpress.org/Function_Reference/url_to_postid

[2015-02-10 17:02] Immoz commented on #89
It seems the textbox is still here included http://www.geonova.no/well-bet/closed-well-bets/wellbet-zulu-prospect-details/

Probably the problem is caused by the "pre"-tag. Maybe you can simply replace those tags by div's or something else? Otherwise just let me know if there needs to be something adjusted on php-side.

[2015-02-10 17:32] Immoz commented on #95
Ok there are 2 problems within this issue. I will take care about extracting the top content so you will have no effort with this.

@mladjan
I think the second problem with the big spacing should be handled somehow by your api (replacing linebreak tags) or css because for me it seems not to be reasonable and necessary to adjust all contents manually.

If this is really not possible it would be ver

[2015-02-12 11:21] Immoz commented on #95
@diplomod the intro-text for wellbets is now outsourced (Admin: Appearance->Geonova-Extra-Content) and will be only shown on open wellbets. It's alread uploaded on dokuhl, just tell me when i should upload this on the live server. Accordingly to https://github.com/diplomod/WellBet-App/issues/71 there need to be done some manual adjustments to wellbets after i uploaded this.

![2015-02-12 12_14_50-

[2015-02-12 11:52] diplomod commented on #95
@Immoz Excellent - thanks. Looks good on dokuhl. Please upload to live
@audriunas: Can you edit the accordingly when it's on the live system and then edit the current open WellBet on Romeo accordingly?

[2015-02-12 12:14] Immoz commented on #95
Ok its on the live server. Please also keep in mind that the link to wellbet-prospect needs to be inserted in the field "WellBet summary link" in order to generate the button which links to the prospect details (https://github.com/diplomod/WellBet-App/issues/71).

![2015-02-12 13_06_56-program manager](https://cloud.githubusercontent.com/assets/1924026/6167188/ed8dad3a-b2b8-11e4-80ac-74fd69f34823.

[2015-02-12 13:04] diplomod commented on #95
@audriunas Tom has a point - I think we need to copy this link in all WellBets, also the closed ones. Can you take care of that, too?

[2015-02-12 16:56] audriunas commented on #95
![geonova](https://cloud.githubusercontent.com/assets/10405035/6172333/635f9e34-b2e0-11e4-9dc1-ef22d25ba6f6.PNG)
Got this when tried to save changes with new 'Intro text for wellbets'.

[2015-02-12 17:14] Immoz commented on #95
I tested this and it seems to work for me. ("Intro-test" was successfully stored)
![2015-02-12 18_10_44-geonova-extra-content geonova wordpress](https://cloud.githubusercontent.com/assets/1924026/6172729/dbb3e244-b2e2-11e4-9507-7124f8a62188.png)

Is it possible that you got logged out or something?

[2015-02-13 17:54] audriunas commented on #95
Tried again today using my mac with different browsers. Got the same message. Can it be somehow related with my rights on the website?

[2015-02-13 18:01] diplomod commented on #95
You've just got promoted to Admin :) Try again - could very well be

[2015-02-16 15:52] audriunas opened #97 "Pictures in prospect detailes mixed up/don't show"
Seems like we have the same issues after uploading new wellbet.

![image1](https://cloud.githubusercontent.com/assets/10405035/6214826/d35662ea-b5fb-11e4-90a8-07655c2da2ba.PNG)
![image2](https://cloud.githubusercontent.com/assets/10405035/6214831/d8e459a6-b5fb-11e4-8470-231104630954.PNG)

Grammar mistake - 'infomration'.
Area of poll isn't excluded.
Doesn't recognise second picture.

[2015-02-16 16:36] diplomod commented on #95
@audriunas Is it working now?

@mladjan Could you please provide feedback to @Immoz regarding the linebreak tags?

[2015-02-16 16:37] diplomod commented on #89
@mladjan Thanks for feedback

[2015-02-16 16:49] audriunas commented on #95
@diplomod yes, it works now.

[2015-02-16 16:50] diplomod commented on #71
@audriunas Please check all WellBets, take out the link in the text and place it in the special new field:
![screen shot 2015-02-16 at 17 47 17](https://cloud.githubusercontent.com/assets/7487883/6215811/31480bb2-b604-11e4-9507-1b17c3e441a1.png)
![screen shot 2015-02-16 at 17 50 00](https://cloud.githubusercontent.com/assets/7487883/6215818/4af76d8c-b604-11e4-84c2-e6a87fa55541.png)

[2015-02-16 17:20] diplomod commented on #78
@mladjan Here we need the following: In closed bets should be a second button below the button "See detailed results"  that says "Prospect details" - just like in open bets. This content is sourced from this field:
![screen shot 2015-02-16 at 18 19 52](https://cloud.githubusercontent.com/assets/7487883/6216264/797c8c24-b608-11e4-8aa8-79e221bf24d8.png)

[2015-02-16 17:25] diplomod commented on #97
@audriunas I have taken out this content as it is not necessary:
![screen shot 2015-02-16 at 18 23 05](https://cloud.githubusercontent.com/assets/7487883/6216296/f6d8d696-b608-11e4-9cdd-181df554190f.png)

@mladjan This content should not be included either. The heading "Information about the prospect" is repeated. The heading "Name of the prospect" is displaced and repeated below anyways.
![screen

[2015-02-17 14:48] mladjan commented on #91
I checked this and it works fine at my phone. When you place a bet on some bet online, you need to reload data on you device, or to open app again. I don't have real information if something is changed on the server.

[2015-02-17 15:02] mladjan commented on #89
Hi guys,

I can't see this anymore in the app because app can't get this html. I done some CSS without testing, so you can check somehow.

[2015-02-17 15:15] mladjan commented on #80
Done, it will be available in build 19, version 1.1

[2015-02-17 15:15] #80 closed

[2015-02-17 16:07] mladjan commented on #96
Done in version 1.1

[2015-02-17 16:07] #96 closed

[2015-02-17 16:08] mladjan commented on #95
Is this done? Why am I still assignee?

[2015-02-17 16:09] mladjan commented on #97
Grammar mistake - 'infomration'.  - Done
Area of poll isn't excluded. - What area?
Doesn't recognise second picture. - I need more information here too.

[2015-02-17 16:09] #89 closed

[2015-02-17 16:22] mladjan commented on #78
Done in v 1.1

[2015-02-17 16:22] #78 closed

[2015-02-17 16:23] mladjan commented on #71
Check if this works in v1.1

[2015-02-17 16:23] #71 closed

[2015-02-17 17:36] audriunas commented on #95
All the links are in the right place now.

[2015-02-17 17:37] audriunas commented on #97
@mladjan don't bother about 'poll area'. the gap formed due to unnecessary text.

[2015-02-18 11:05] #95 closed

[2015-02-18 17:49] diplomod commented on #95
@mladjan sorry, forgot to change the assigne :)
@audriunas Thanks, looks very good now

[2015-02-18 17:52] diplomod commented on #97
The second picture in this WellBet is not shown. What is displayed is the first picture again.

We should see this one:
![screen shot 2015-02-18 at 18 52 03](https://cloud.githubusercontent.com/assets/7487883/6253095/47426dda-b79f-11e4-980f-cf2020878e29.png)

But we actually see this one twice:
![screen shot 2015-02-18 at 18 52 08](https://cloud.githubusercontent.com/assets/7487883/6253101/5148f95

[2015-02-18 17:53] diplomod commented on #80
Phantastic - thanks

[2015-02-18 17:54] diplomod commented on #89
Still there. Let's bury it, no big deal.

@audriunas We don't get this under control - I understand this is really tricky. Let's just not use the grey boxes - end of discussion.

[2015-02-18 17:56] diplomod commented on #78
Great, thanks.
@audriunas Please check if all links are placed correctly. Seems to work for old bets already, but better check.

[2015-02-18 17:58] diplomod commented on #71
Looks very good - thanks

[2015-02-18 18:14] diplomod opened #98 "Links in "More information" don't work for non-registered users"
If I click on the link of "See all ongoing bets here" and "Learn about the outcome of all completed bets here" in the screen to which I get when I click on "More information" after opening the App for the first time, I get to the pages "Open WellBets" and "Closed WellBets", but an error message is shown:

![foto](https://cloud.githubusercontent.com/assets/7487883/6253527/523b70c6-b7a2-11e4-8571-25

[2015-02-18 18:16] diplomod commented on #91
I believe it does. We'll realize it if it is a real issue. Nothing to worry about now.

[2015-02-18 18:16] #91 closed

[2015-02-18 18:22] diplomod opened #99 "List of closed bets"
The list of closed bets consists only of 10 bets. We actually have 25 already. Where is the rest?

[2015-02-18 19:28] mladjan commented on #98
This is not the restriction based on logged user. I see you had bad internet connection, and phone wasn't able to reach the server. Test this on stable Internet connection please :)

[2015-02-18 19:28] #98 closed

[2015-02-18 19:32] mladjan commented on #97
Can I get user/pass for wordpress admin (live server) and exact name of wellbet, so I can check that HTML? :)

[2015-02-19 07:14] diplomod commented on #98
Haha - ok. I had an excellent connection, but maybe too much at the same time.

[2015-02-19 07:19] diplomod commented on #97
I promoted your user with the email address mladjan@blgrd.co to admin
The well with the pictures is Gemini: http://www.geonova.no/well-bet-page/161-24-gemini/

BTW: The well with the problem of the grey bos is Zulu: http://www.geonova.no/well-bet/closed-well-bets/wellbet-zulu-prospect-details/
![screen shot 2015-02-19 at 08 18 22](https://cloud.githubusercontent.com/assets/7487883/6262999/ef68db50

[2015-02-19 14:32] #99 closed

[2015-02-19 15:19] mladjan commented on #97
Fixed, take a look at your current build

[2015-02-19 16:29] diplomod commented on #97
great - can you also tell us what was the pronblem? Because it occurs in other wellbets as well.
@audriunas pay attention ;)

[2015-02-19 16:32] mladjan commented on #97
It was the issue on the API side, not in wordpress :)

[2015-02-19 16:32] #97 closed

[2015-03-01 14:48] diplomod opened #100 "I can place bets on closed bets"
The button "Place your bet" is shown in closed bets.
When I click on it it says "There is a poblem with getting the data from the server"

[2015-04-25 18:12] diplomod opened #101 "My WellBets empty after re-installing the App"
I have re-installed tha app and logged in again with my username.
The list of "My WellBets" is empty.
I assume this is because I have not placed any bets in this installation of this app, correct?

However, it should list the bets I have placed with this account previously. The data must be there. Can we change that?

[2015-04-25 20:30] audriunas opened #102 "Wellbet 1.2 issues"
![img_0306](https://cloud.githubusercontent.com/assets/10405035/7334659/ec76ec26-eb99-11e4-9a4a-e001c1fee222.PNG)
![img_0307](https://cloud.githubusercontent.com/assets/10405035/7334669/34f720ec-eb9a-11e4-8ef4-a651f73a6e54.PNG)
1. Can't access 'my wellbet' section.
2. The same problem with displaying one picture.
3. Some of the wellbets contain useless linebreaks, can it be fixed in the wellbet or

[2015-04-25 21:29] audriunas commented on #102
Update: works with 'my wellbets' after logging out and in again.

[2015-05-18 18:45] diplomod opened #103 "Weiterleitung von Link auf Geonova Server einrichten"
Dieser Link wird jetzt in den Apps für iOS und Android im Banner verbaut:

http://www.geonova.no/wellbetappbannerlink

Weiterleitung soll zunächst auf http://www.petroleum.fo/ eingerichtet werden.
Danach soll der Link mit der Auswechslung des Banners ebenfalls geändert werden.

[2015-06-08 10:28] #101 closed

[2015-06-08 10:29] #100 closed

[2015-06-08 10:29] #102 closed

[2015-06-08 10:30] diplomod commented on #103
@Immoz Läuft das mittlerweile wie geplant?
Wie kann ich den editieren?

[2015-06-08 10:33] diplomod opened #104 "Integrate Google Analystics"
an we integrate a tracking with Google Analystics?

Here is the Tracking ID:
UA-48156528-2

Also, I have downloaded the "Google Analytics iOS SDK" - see here:
https://www.dropbox.com/s/c98691nbni86vzg/GoogleAnalyticsServicesiOS.zip?dl=0

And here is an overview of the info fro Google - no idea if this is relevant:
![screen shot 2015-06-08 at 12 27 39](https://cloud.githubusercontent.com/assets/748

[2015-06-18 07:19] diplomod opened #105 "Error message - wrong data base connection?"
I got complaints from users that they get this error message:

![image1](https://cloud.githubusercontent.com/assets/7487883/8225978/db6e4fe8-159a-11e5-92e2-4acbeb5698e1.png)

I now got it myself.

Note: I have allready placed a bet on the webversion. So the app does not get the right data about the user.

I as well as users who complained have gotten the latest version and updated again today.

[2015-06-18 08:53] mladjan commented on #105
Hi Hans,

can you go into this issue a little bit more and explain us exact situation when this happened, because Mike told me that it's happening also on Android. This means that this is not mobile related, it's web or API related problem.

[2015-06-18 16:51] diplomod commented on #105
...or the problem exists in both app versions.

More detailed:
- I get the latest versiom from the app store.
- I login
- I choose one of the open WellBets
- I fill out the WellBet questionnaire => Error: My user has allready placed a bet - I should not be able to place it
- No error message this time
- When I check online, the results are the same as my first bet placed in the web version, not as

[2015-06-18 18:06] audriunas commented on #105
![img_0440](https://cloud.githubusercontent.com/assets/10405035/8238370/7ee88a30-15f5-11e5-826f-cf70b540f5fb.jpg)
 getting this error while trying to submit the vote on new and old wellbets.

[2015-06-18 20:28] diplomod opened #106 "Sharing does not allow me to login"
When I log in, I am asked to share the app - which is fine. However, if I say "No", I cannot login!
I must say yes and then abort, otherwise I don't get in the app.
This is wrong. I must be able to log in, no matter if I want to share or not.

![image1](https://cloud.githubusercontent.com/assets/7487883/8241383/59980cec-1609-11e5-9419-a6ab6c006a1f.png)

[2015-06-19 13:29] diplomod commented on #105
Guys,
any news?
The test with the new WellBet deluvered different results:
- No problem for me
- Did not work at all for my colleague Audrius.
  We both thave the latest version.

Do you get any error reports from the API, asks Philip.

[2015-06-23 16:27] BorisNikolic commented on #105
Hi everybody,

I solved this issue about placing the same bet more than once. Now we are showing an alertView with the following message:"You have already placed your bet." I also fixed the issue about the data of the user, everything is working properly as far as I know. Code is updated and ready for build.
Please tell me if you run into some new issues.

Have a nice day!

[2015-06-23 19:11] diplomod commented on #105
Hi Boris, thank you. Then please update the App in Apple App store.

BTW: Was the same issue in the Android version?

[2015-06-24 09:49] mladjan commented on #105
Do you want first to test it on your devices because we are not 100% sure that we are thinking on the same bug/issue?

[2015-09-03 10:25] diplomod commented on #105
Hi guys,
I still get this error message when I click on "My WellBets":

![image1](https://cloud.githubusercontent.com/assets/7487883/9656190/c7413b56-5236-11e5-8df4-1f86af84fa21.png)

This is on iPhone. Can we get this under control please?

[2015-09-18 06:40] diplomod commented on #105
Guys, this is extremely annoying. It keeps going on, no matter how often I update the app on my phone.
The issue also appears when I try to place a bet:
![image1](https://cloud.githubusercontent.com/assets/7487883/9953498/9c99cb6e-5de1-11e5-9674-46e6470b0bee.png)

Please clarify and fix finally.

[2015-09-18 06:43] diplomod commented on #105
@audriunas Do you have the same issue?

[2015-09-22 07:38] diplomod opened #107 "Android App: Login comes first after data has been entered"
When I place a bet in the Android App, I do not need to be logged in in order to get to the submission form. Just when I want to finish, I am asked to

Please login
You need to be logged in to access this page

This is quite annoying.

When I actually click on "Login", I wait forever, the "Please wait" does not disappear.

[2015-09-22 07:51] diplomod opened #108 "Android & iOS App: Remove button to place bet on Closed bets"
In the prospect details of closed bets, I still find the button "Place your bet".
In Android, this leads to an empty page, in iOS to an error message.

The button must be removed for closed bets as it is not possible any more.

[2015-09-22 18:54] ognjenns commented on #107
Please provide steps with screenshots, because we cannot reproduce it on version 1.2.
Also, add the version number.
Thanks

[2015-09-23 09:56] diplomod commented on #107
I would like to, but I cannot figure out how to make screenshots on my Android device (Samsung GT-I9100 with Android 4.4)...

[2015-09-23 10:05] ognjenns commented on #107
can you try with new version 1.3 (uploaded to google play)?
here is how to get screenshots:
http://www.boeboer.com/capture-screenshot-samsung-galaxy-s-ii-gt-i9100-galaxy-s2-home-power-keys/